<div class="labels">
    <div class="schedrow"></div>
    <div class="schedrow" ng-repeat="label in labels">{{label}}</div>
</div>

<div class="data-area">
    
    <div class="schedrow timestamps">
        <grid min="0" max="1440" tick="120" class="grid-container"></grid>
    </div>    

    <div class="schedrow" ng-repeat="label in labels">
        <grid min="0" max="1440" tick="120" class="grid-container striped no-labels"></grid>
        <multi-slider default-value="180" min="0" max="1440" tick="15" slots="slots" day="$index"></multi-slider>
    </div>

</div>